!!! 5
%html
  %head
    %title Tracker
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    %div{data: {role: "page"}}
      %header#header{data: {role: "header"}}
        %h1 Map

      #content{data: {role: "content"}}
        = yield

      %footer{data: {role: "footer"}}
        = render 'layouts/navigation'

    = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"
